In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
echo_scores = pd.read_csv('echo_computation2016.csv')

In [3]:
follower_information = pd.read_csv('../../All_Location_Gender.csv', sep='\t', header=1)

In [4]:
echo = pd.merge(echo_scores, follower_information, left_on='followers', right_on='UserID')
echo['followers1_that_follow_candidate_not_opponent'] = echo.followers1_that_follow_candidate - echo.followers1_that_follow_candidate_opponent
echo['echo_chamber_only_candidate'] = echo.followers1_that_follow_candidate_not_opponent / echo.candidate_follower_followers1
echo['followers1_that_follow_opponent_not_candidate'] = echo.followers1_that_follow_opponent - echo.followers1_that_follow_candidate_opponent
echo['echo_chamber_only_opponent'] = echo.followers1_that_follow_opponent_not_candidate / echo.candidate_follower_followers1

echo.head()

,candidates,followers,followers1_that_follow_candidate,candidate_follower_followers1,echo_chamber,n_candidate_followers,echo_chamber_normalized,followers1_that_follow_opponent,followers1_that_follow_candidate_opponent,UserID,GenderGuesser0.4,US-City,US-State,followers1_that_follow_candidate_not_opponent,echo_chamber_only_candidate,followers1_that_follow_opponent_not_candidate,echo_chamber_only_opponent
0,1339835893,25211579,8,55,0.145455,12314336,1.181181e-08,6,3,25211579,male,Montgomery,Alabama,5,0.090909,3,0.054545
1,1339835893,431651320,100,688,0.145349,12314336,1.180322e-08,67,30,431651320,female,Tuscaloosa,Alabama,70,0.101744,37,0.053779
2,1339835893,156345440,222,1036,0.214286,12314336,1.740132e-08,197,125,156345440,male,Leeds,Alabama,97,0.093629,72,0.069498
3,1339835893,213793173,76,669,0.113602,12314336,9.225215e-09,79,24,213793173,male,Madison,Alabama,52,0.077728,55,0.082212
4,1339835893,27505280,16,100,0.160000,12314336,1.299299e-08,12,5,27505280,female,Leeds,Alabama,11,0.110000,7,0.070000

In [5]:
print("How many followers do we have information on:", echo.shape[0] / echo_scores.shape[0])

How many followers do we have information on: 0.7000407082660877

In [6]:
def ends(df, x=5):
    """Returns both head and tail of the dataframe or series.
    
    Args:
        x (int): Optional number of rows to return for each head and tail
    """
    print('{} rows x {} columns'.format(np.shape(df)[0],np.shape(df)[1]))
    return df.head(x).append(df.tail(x))

In [8]:
def candidate_classifier(x):
    if x == 1339835893:
        return 'Clinton'
    return 'Trump'
echo['candidate'] = echo.candidates.apply(candidate_classifier)

# By Candidate

In [12]:
echo.groupby('candidate').agg({'echo_chamber':'mean',
                              'echo_chamber_only_candidate':'mean', 
                              'echo_chamber_only_opponent':'mean'})

,echo_chamber,echo_chamber_only_candidate,echo_chamber_only_opponent
candidate,,,
Clinton,0.171497,0.103494,0.063617
Trump,0.165325,0.106446,0.053059

# By Gender

In [123]:
echo.groupby('GenderGuesser0.4').echo_chamber.mean()

GenderGuesser0.4
female    0.171296
male      0.166148
Name: echo_chamber, dtype: float64

In [124]:
echo.groupby('GenderGuesser0.4').echo_chamber_only_candidate.mean()

GenderGuesser0.4
female    0.106414
male      0.104031
Name: echo_chamber_only_candidate, dtype: float64

In [125]:
echo.groupby('GenderGuesser0.4').echo_chamber_only_opponent.mean()

GenderGuesser0.4
female    0.061278
male      0.055898
Name: echo_chamber_only_opponent, dtype: float64

# By Candidate and Gender

In [13]:
echo.groupby(['candidate', 'GenderGuesser0.4']).agg({'echo_chamber':'mean',
                                                     'echo_chamber_only_candidate':'mean', 
                                                     'echo_chamber_only_opponent':'mean'})

                            echo_chamber  echo_chamber_only_candidate  \
candidate GenderGuesser0.4
Clinton   female                0.181773                     0.114998
          male                  0.161059                     0.091810
Trump     female                0.156740                     0.094487
          male                  0.169683                     0.112518

                            echo_chamber_only_opponent
candidate GenderGuesser0.4
Clinton   female                              0.057227
          male                                0.070108
Trump     female                              0.066906
          male                                0.046030

# By State

In [126]:
echo.groupby('US-State').echo_chamber.mean().sort_values()

US-State
Maine            0.148004
Indiana          0.154545
Michigan         0.157390
Idaho            0.159231
Alaska           0.161539
Kansas           0.162590
Arkansas         0.162816
Hawaii           0.164050
Kentucky         0.164214
Massachusetts    0.164271
Iowa             0.164375
Missouri         0.164574
Nebraska         0.166369
Alabama          0.166778
Georgia          0.166969
Mississippi      0.168503
Arizona          0.171294
Montana          0.171483
Nevada           0.172765
Illinois         0.173875
Minnesota        0.174491
Colorado         0.174639
Florida          0.175350
Maryland         0.176152
Connecticut      0.176430
New Hampshire    0.177609
Delaware         0.177804
Louisiana        0.177814
California       0.179748
New Jersey       0.179836
Name: echo_chamber, dtype: float64

In [127]:
echo.groupby('US-State').echo_chamber_only_candidate.mean().sort_values()

US-State
Maine            0.088348
Hawaii           0.096063
Michigan         0.098008
Indiana          0.098943
Idaho            0.099313
Alaska           0.101020
Massachusetts    0.101983
Missouri         0.102487
Arizona          0.102583
Georgia          0.103945
Florida          0.104123
Nevada           0.104550
Delaware         0.105845
Colorado         0.105944
Connecticut      0.106270
New Hampshire    0.106765
Maryland         0.107023
Montana          0.107241
Kentucky         0.107304
Iowa             0.107325
Arkansas         0.107421
Illinois         0.108312
California       0.109164
Minnesota        0.109712
New Jersey       0.110059
Nebraska         0.110591
Kansas           0.110857
Alabama          0.110907
Louisiana        0.117107
Mississippi      0.120325
Name: echo_chamber_only_candidate, dtype: float64

In [128]:
echo.groupby('US-State').echo_chamber_only_opponent.mean().sort_values()

US-State
Mississippi      0.045020
Kansas           0.049416
Nebraska         0.051382
Iowa             0.053530
Idaho            0.053723
New Jersey       0.054340
Montana          0.054354
Alaska           0.055246
Louisiana        0.055621
Georgia          0.056324
Indiana          0.056567
Michigan         0.056637
Missouri         0.056709
Minnesota        0.057196
Hawaii           0.057869
Kentucky         0.058268
Alabama          0.058483
Arizona          0.058789
Delaware         0.058808
New Hampshire    0.058835
Colorado         0.059179
Nevada           0.059372
Arkansas         0.059639
Illinois         0.059874
Maryland         0.059936
Maine            0.060551
Massachusetts    0.060790
Florida          0.061075
Connecticut      0.062006
California       0.063163
Name: echo_chamber_only_opponent, dtype: float64

# By State and Gender

In [129]:
state_gender_echo_chamber_long = echo.groupby(['US-State', 'GenderGuesser0.4']).echo_chamber.mean()
state_gender_echo_chamber_long = pd.DataFrame(state_gender_echo_chamber_long)
state_gender_echo_chamber_long.reset_index(inplace=True)
state_gender_echo_chamber_wide = state_gender_echo_chamber_long.pivot(index='US-State', 
                                                                      columns='GenderGuesser0.4', 
                                                                      values='echo_chamber')

state_gender_echo_chamber_wide['gender_divide'] = np.abs(state_gender_echo_chamber_wide.female - state_gender_echo_chamber_wide.male)

ends(state_gender_echo_chamber_wide.sort_values('gender_divide'))

30 rows x 3 columns

GenderGuesser0.4    female      male  gender_divide
US-State
Idaho             0.159245  0.159222       0.000022
Kentucky          0.164323  0.164132       0.000190
Alaska            0.161648  0.161455       0.000193
New Hampshire     0.177840  0.177467       0.000374
Montana           0.172685  0.170507       0.002178
Colorado          0.180630  0.170104       0.010526
Illinois          0.180371  0.169329       0.011042
Arizona           0.179418  0.165510       0.013908
Minnesota         0.182842  0.168253       0.014589
California        0.190270  0.172474       0.017796

In [130]:
state_gender_echo_chamber_long = echo.groupby(['US-State', 'GenderGuesser0.4']).echo_chamber_only_candidate.mean()
state_gender_echo_chamber_long = pd.DataFrame(state_gender_echo_chamber_long)
state_gender_echo_chamber_long.reset_index(inplace=True)
state_gender_echo_chamber_wide = state_gender_echo_chamber_long.pivot(index='US-State', 
                                                                      columns='GenderGuesser0.4', 
                                                                      values='echo_chamber_only_candidate')

state_gender_echo_chamber_wide['gender_divide'] = np.abs(state_gender_echo_chamber_wide.female - state_gender_echo_chamber_wide.male)

ends(state_gender_echo_chamber_wide.sort_values('gender_divide'))

30 rows x 3 columns

GenderGuesser0.4    female      male  gender_divide
US-State
Florida           0.104161  0.104096       0.000065
Indiana           0.098852  0.099004       0.000152
Iowa              0.107828  0.107053       0.000775
Delaware          0.106350  0.105520       0.000830
Missouri          0.103465  0.101744       0.001721
Mississippi       0.114344  0.124425       0.010082
New Jersey        0.102756  0.113085       0.010329
Minnesota         0.116025  0.104996       0.011029
Nebraska          0.103605  0.114978       0.011372
California        0.119477  0.102035       0.017442

In [131]:
state_gender_echo_chamber_long = echo.groupby(['US-State', 'GenderGuesser0.4']).echo_chamber_only_opponent.mean()
state_gender_echo_chamber_long = pd.DataFrame(state_gender_echo_chamber_long)
state_gender_echo_chamber_long.reset_index(inplace=True)
state_gender_echo_chamber_wide = state_gender_echo_chamber_long.pivot(index='US-State', 
                                                                      columns='GenderGuesser0.4', 
                                                                      values='echo_chamber_only_opponent')

state_gender_echo_chamber_wide['gender_divide'] = np.abs(state_gender_echo_chamber_wide.female - state_gender_echo_chamber_wide.male)

ends(state_gender_echo_chamber_wide.sort_values('gender_divide'))

30 rows x 3 columns

GenderGuesser0.4    female      male  gender_divide
US-State
Maryland          0.061108  0.059101       0.002007
Minnesota         0.058525  0.056203       0.002322
California        0.061538  0.064285       0.002747
Colorado          0.060996  0.057804       0.003191
Illinois          0.061909  0.058451       0.003459
New Hampshire     0.064860  0.055133       0.009727
Louisiana         0.061562  0.051514       0.010049
Iowa              0.060971  0.049516       0.011455
Nebraska          0.060553  0.045624       0.014929
New Jersey        0.067470  0.048901       0.018569

# By State by Candidate

In [19]:
state_candidate_echo_chamber_long = echo.groupby(['US-State', 'candidate']).echo_chamber_only_candidate.mean()
state_candidate_echo_chamber_long = pd.DataFrame(state_candidate_echo_chamber_long)
state_candidate_echo_chamber_long.reset_index(inplace=True)
ends(state_candidate_echo_chamber_long.sort_values('echo_chamber_only_candidate'), 10)

59 rows x 3 columns

         US-State candidate  echo_chamber_only_candidate
46    Mississippi   Clinton                     0.082760
37          Maine     Trump                     0.083177
9      California     Trump                     0.087376
0         Alabama   Clinton                     0.087578
26        Indiana   Clinton                     0.090754
41  Massachusetts     Trump                     0.091050
30         Kansas   Clinton                     0.092332
32       Kentucky   Clinton                     0.093876
21         Hawaii     Trump                     0.094560
36          Maine   Clinton                     0.094785
24       Illinois   Clinton                     0.117329
53       Nebraska     Trump                     0.118210
31         Kansas     Trump                     0.118414
7        Arkansas     Trump                     0.119150
44      Minnesota   Clinton                     0.120197
35      Louisiana     Trump                     0.120219
33       Kentucky     Trump                     0.121772
8      California   Clinton                     0.127305
47    Mississippi     Trump                     0.132626
1         Alabama     Trump                     0.134805

# By State, Candidate, Gender

In [21]:
state_candidate_echo_chamber_long = echo.groupby(['US-State', 'candidate', 'GenderGuesser0.4']).echo_chamber_only_candidate.mean()
state_candidate_echo_chamber_long = pd.DataFrame(state_candidate_echo_chamber_long)
state_candidate_echo_chamber_long.reset_index(inplace=True)
ends(state_candidate_echo_chamber_long.sort_values('echo_chamber_only_candidate'), 10)

118 rows x 4 columns

          US-State candidate GenderGuesser0.4  echo_chamber_only_candidate
93     Mississippi   Clinton             male                     0.072212
74           Maine     Trump           female                     0.073186
82   Massachusetts     Trump           female                     0.073692
18      California     Trump           female                     0.077955
61          Kansas   Clinton             male                     0.078351
1          Alabama   Clinton             male                     0.079351
86        Michigan     Trump           female                     0.079723
42          Hawaii     Trump           female                     0.079781
53         Indiana   Clinton             male                     0.080168
73           Maine   Clinton             male                     0.082981
76        Maryland   Clinton           female                     0.125521
107       Nebraska     Trump             male                     0.126009
15        Arkansas     Trump             male                     0.126758
71       Louisiana     Trump             male                     0.126909
67        Kentucky     Trump             male                     0.127639
48        Illinois   Clinton           female                     0.129599
88       Minnesota   Clinton           female                     0.133306
95     Mississippi     Trump             male                     0.138634
3          Alabama     Trump             male                     0.140682
16      California   Clinton           female                     0.141903

# By City

In [132]:
echo['US-City'] = echo['US-City'] + ", " + echo['US-State']

In [133]:
valid_cities =  echo['US-City'].value_counts()[echo['US-City'].value_counts() > 50].index.tolist()
echo_cities_clean = echo[echo['US-City'].isin(valid_cities)]

In [134]:
ends(echo.groupby('US-City').agg({'echo_chamber':'mean',
                              'echo_chamber_only_candidate':'mean', 
                              'echo_chamber_only_opponent':'mean'}).sort_values('echo_chamber_only_candidate'))

12133 rows x 3 columns

,echo_chamber,echo_chamber_only_candidate,echo_chamber_only_opponent
US-City,,,
"Melville, Louisiana",0.153846,0.000000,0.000000
"Winters In Casa Grande, Arizona",0.000000,0.000000,0.052632
"Fortson, Georgia",0.050000,0.000000,0.050000
"Ormond, Florida",0.157895,0.000000,0.157895
"Noose, Maine",0.000000,0.000000,0.000000
"South Beach To West Palm, Florida",0.666667,0.500000,0.000000
"Leona Valley, California",0.785714,0.500000,0.000000
"Leatherwood, Alabama",0.580258,0.509373,0.002050
"Dassel, Minnesota",0.569690,0.563053,0.008850
"Morse Mill, Missouri",0.571429,0.571429,0.000000